.default {
  background-color: aqua;
}
.defaulttitle {
  background-color: greenyellow;
  margin: 0;
}
.default-section-title {
  background-color: rgb(255, 2, 2);
  margin: 0;
}
.elementdz11 {
  width: 350px;
  height: 220px;
  margin-top: 15px;
  margin: 50px;
  border-bottom-width: 30px;
  border: 2px dotted red;
  background-color: green;
}

body > h1,
h2,
p {
  font-family: "Monsterat", sans-serif;
}

