.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section  {
    margin-top: 50px;
    margin-bottom: 50px;
} 
 body {
      display: flex;
      text-align: center;
      align-items: center;
      margin: 0 auto;
    }
